.app-search-bar-filters{
    width: 266px;
    border: 1px solid #18C6AC;
    border-right: none;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.app-search-bar-filters--show{
    border-radius: 10px 0 0 0;
}
.app-search-bar-filters .app-search-bar-filters-toggle-text{
    text-decoration: none;
    color: #18C6AC;
    text-transform: capitalize;
    margin: 0 0.5rem;
}
.app-search-bar-filters .app-search-bar-filters-dropdown-icon,
.app-search-bar-filters .app-search-bar-filters-toggle-icon {
    margin: 0 0.5rem;
    height: 12px;
}
.app-search-bar-filter-dropdown{
    display: none;
    position: absolute;
    top: 38px;
    left: -1px;
    width: 234px;
    border: 1px solid #18C6AC;
    border-radius: 0 0 10px 10px;
    background: #fff;
    padding: 1rem;
}
.app-search-bar-filter-dropdown--show{
    display: block;
}
@media (max-width: 768px) {
    .app-search-bar-filters{
        order: 2;
        width: max-content;
        border-radius: 0;
        border: none;
        margin-right: 1rem;
    }
    .app-search-bar-filters .app-search-bar-filters-dropdown-icon{
        display: none;
    }
    .app-search-bar-filters .app-search-bar-filters-toggle-text{
        display: none;
    }
    .app-search-bar-filter-dropdown{
        left: unset;
        top: 33px;
        right: -17px;
        width: calc(100vw - 66px);
    }
}