.app-search-bar{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.app-search-bar-search-button{
    height: 40px;
    width: 18%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #18C6AC;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.app-search-bar-search-button img{
    margin-right: 1rem;
}
.app-search-bar-search-button span{
    font-size: 1rem;
}