.app-search-bar{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.app-search-bar-scrolled{
    box-shadow: 0px 4px 4px 0px #0000001A;
}
.app-search-bar-search-box {
    border: 1px solid #18C6AC;
    border-radius: 0 10px 10px 0;
    width: 60%;
    padding: 0 2rem;
}
.app-search-bar-search-box::placeholder {
    color: #C5D6D5;
}
.app-search-bar-search-box:focus {
    border: 1px solid #18C6AC;
    outline: 2px solid #18C6AC;
}
.app-search-bar-search-button{
    height: 40px;
    width: 18%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #18C6AC;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.app-search-bar-search-button img{
    margin-right: 1rem;
}
.app-search-bar-search-button span{
    font-size: 1rem;
}