.app-search-bar-filter-subcategory{
    margin: 1rem 0;
}
.app-search-bar-filter-subcategory-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.app-search-bar-filter-subcategory-dropdown{
    display: none;
    flex-wrap: wrap;
}
.app-search-bar-filter-subcategory-dropdown-wide{
    justify-content: space-between;
}
.app-search-bar-filter-subcategory-dropdown--show{
    display: flex;
}
.app-search-bar-filter-subcategory-dropdown-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: .2rem;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    background-color: #DDEAEA;
}
.app-search-bar-filter-subcategory-dropdown-item-wide{
    width: 40%;
}
.app-search-bar-filter-subcategory-dropdown-item-active{
    background-color: #18C6AC;
    color: #fff;
}